{% extends "the_snowmen_snowpack_viewer/base.html" %}
{% load tethys_gizmos %}

{% block header_buttons %}
  <div class="header-button glyphicon-button" data-toggle="tooltip" data-placement="bottom" title="Help">
    <a data-toggle="modal" data-target="#help-modal"><span class="glyphicon glyphicon-question-sign"></span></a>
  </div>
{% endblock %}

{% block app_navigation_items %}
{% url 'the_snowmen_snowpack_viewer:home' as home %}
{% url 'the_snowmen_snowpack_viewer:proposal' as proposal %}
{% url 'the_snowmen_snowpack_viewer:mockup' as mockup %}
{% url 'the_snowmen_snowpack_viewer:data_services' as data_services %}
{% url 'the_snowmen_snowpack_viewer:about' as about %}


<br>
  <li class="{% if request.path == home %}active{% endif %}"><a href="{% url 'the_snowmen_snowpack_viewer:home' %}">Home</a></li>
  <li class="{% if request.path == about %}active{% endif %}"><a href="{% url 'the_snowmen_snowpack_viewer:about' %}">About</a></li>
<!--<br>-->
<!--<h4>More Information</h4>-->
  <li class="{% if request.path == proposal %}active{% endif %}"><a href="{% url 'the_snowmen_snowpack_viewer:proposal' %}">- Project Proposal</a></li>
  <li class="{% if request.path == mockup %}active{% endif %}"><a href="{% url 'the_snowmen_snowpack_viewer:mockup' %}">- Mockup Wireframes</a></li>
  <li class="{% if request.path == data_services %}active{% endif %}"><a href="{% url 'the_snowmen_snowpack_viewer:data_services' %}">- Data Services</a></li>




{% endblock %}

{% block app_content %}
  <h1><b>About the Developers</b></h1>
<br>
<br>
  <h5><b><a href="https://www.linkedin.com/in/jason-biesinger-72ba9586/">Jason Biesinger</a></b></h5>
  <img src="http://127.0.0.1:8000/static/the_snowmen_snowpack_viewer/images/Jason_photo.jpeg" width="377" height="377">
  <p>Jason Biesinger is a <a href="https://en.wikipedia.org/wiki/Civil_engineering">Civil Engineering</a> Bachelor student at <a href="https://www.byu.edu/">Brigham Young University</a>.  He loves to snowboard, he enjoys the outdoors, board games, and video games when time allows.</p>
  <p>If you have any question about the app, you can write an email to <a href="mailto:jasonbiesinger@gmail.com?subject= About The Snowmen Snowpack Viewer"> jasonbiesinger@gmail.com</a></p>
  <br>
  <br>
  <h5><b><a href="https://www.linkedin.com/in/travis-mcstraw-0664abb4/">Travis McStraw</a></b></h5>
  <img src="http://127.0.0.1:8000/static/the_snowmen_snowpack_viewer/images/Travis_photo.jpg" width="377" height="377">
  <p>Travis McStraw is a <a href="https://en.wikipedia.org/wiki/Civil_engineering">Civil Engineering</a>  masters student with an emphasis in <a href="https://en.wikipedia.org/wiki/Water_resources">Water Resources</a>
    at <a href="https://www.byu.edu/">Brigham Young University</a>. He loves the outdoors and enjoys exploring nature when he has free time.</p>
  <p>If you have any question about the app, you can write an email to <a href="mailto:travis.mcstraw@gmail.com?subject= About The Snowmen Snowpack Viewer"> travis.mcstraw@gmail.com</a></p>
  <br>
  <br>
  <h5><b><a href="https://www.linkedin.com/in/jorge-luis-sanchez-lozano-27866a89/?locale=en_US">Jorge Luis Sanchez</a></b></h5>

  <img src="http://127.0.0.1:8000/static/the_snowmen_snowpack_viewer/images/Jorge_photo.jpeg" width="500" height="377">
  <p>Jorge Luis Sanchez is a <a href="https://en.wikipedia.org/wiki/Civil_engineering">Civil Engineering</a>  PhD Student with an emphasis in <a href="https://en.wikipedia.org/wiki/Water_resources">Water Resources</a>
    at <a href="https://www.byu.edu/">Brigham Young University</a>. He loves football (wrong called soccer in the US), and he supports the biggest team ever in the football history:
    <a href="https://en.wikipedia.org/wiki/Atl%C3%A9tico_Nacional">Club Atletico Nacional de Colombia</a>.</p>
  <p>If you have any question about the app, you can write an email to <a href="mailto:jorgessanchez7@gmail.com?subject= About The Snowmen Snowpack Viewer"> jorgessanchez7@gmail.com</a></p>

<br>
<br>
<br>

{% endblock %}

{% block app_actions %}

{% endblock %}
