{% extends "tethys_apps/app_base.html" %}

{% load staticfiles %}

{% block title %}{{ tethys_app.name }}{% endblock %}

{% block app_icon %}
  {# The path you provided in your app.py is accessible through the tethys_app.icon context variable #}
  <img src="{% static tethys_app.icon %}">
{% endblock %}

{# The name you provided in your app.py is accessible through the tethys_app.name context variable #}
{% block app_title %}{{ tethys_app.name }}{% endblock %}

{% block app_navigation_items %}

{% url 'the_snowmen_snowpack_viewer:home' as home %}

{% url 'the_snowmen_snowpack_viewer:animation' as animation %}
{% url 'the_snowmen_snowpack_viewer:polygontool' as polygontool %}
{% url 'the_snowmen_snowpack_viewer:watershedtool' as watershedtool %}
{% url 'the_snowmen_snowpack_viewer:about' as about %}

  <li class="title"></li>
  <li class="{% if request.path == home %}active{% endif %}"><a href="{% url 'the_snowmen_snowpack_viewer:home' %}">Home</a></li>
  <li class="{% if request.path == animation %}active{% endif %}"><a href="{% url 'the_snowmen_snowpack_viewer:animation' %}">Animation</a></li>
  <li class="{% if request.path == polygontool %}active{% endif %}"><a href="{% url 'the_snowmen_snowpack_viewer:polygontool' %}">Polygon Tool</a></li>
  <li class="{% if request.path == watershedtool %}active{% endif %}"><a href="{% url 'the_snowmen_snowpack_viewer:watershedtool' %}">Watershed Tool</a></li>
  <li class="{% if request.path == about %}active{% endif %}"><a href="{% url 'the_snowmen_snowpack_viewer:about' %}">About</a></li>

{% endblock %}

{% block app_content %}
{% endblock %}

{% block app_actions %}

{% endblock %}

{% block content_dependent_styles %}
  {{ block.super }}
  <link href="{% static 'the_snowmen_snowpack_viewer/css/main.css' %}" rel="stylesheet"/>
{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script src="https://js.arcgis.com/4.6/"></script>
{% endblock %}
