{% extends "the_snowmen_snowpack_viewer/base.html" %}
{% load tethys_gizmos %}

{% block header_buttons %}
  <div class="header-button glyphicon-button" data-toggle="tooltip" data-placement="bottom" title="Help">
    <a data-toggle="modal" data-target="#help-modal"><span class="glyphicon glyphicon-question-sign"></span></a>
  </div>
{% endblock %}

{% block app_content %}
  <h1><b>Welcome to the Snowpack Viewer!<b></h1>
   <h5><b>Authors:<b></h5>
   <h5>Travis McStraw, Jorge Sanchez, Jason Biesinger</h5>

    <h2>This is part of the course 514-Geospatial software development at Brigham Young University.</h2>
    <h3>Here you will find the written <b><a href="/apps/the-snowmen-snowpack-viewer/proposal">proposal</a></b> for the Snow Pack Project.</h3>
    <h3>Also you will see the planned <b><a href="/apps/the-snowmen-snowpack-viewer/mockup">Mock Up</a></b> for the Snow Pack Project.</h3>
    <h3><b><a href="/apps/the-snowmen-snowpack-viewer/mapview">Map View</a></b> includes a map with three data sets from BYU ArcMap Geoserver2.</h3>
    <h3><b><a href="/apps/the-snowmen-snowpack-viewer/data_services">Data Services</a></b> talks about the data service used in <b><a href="/apps/the-snowmen-snowpack-viewer/mapview">Map View</a></b>, how the data were created, where are the data hosting, and what data is included</h3>
    <h3>The <b><a href="/apps/the-snowmen-snowpack-viewer/about">about</a></b> page include a little bit about who the authors are and the links to contact them.</h3>


{% endblock %}

{# Use the after_app_content block for modals #}
{% block after_app_content %}
  <!-- Example Modal -->
  <div class="modal fade" id="help-modal" tabindex="-1" role="dialog" aria-labelledby="help-modal-label">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h5 class="modal-title" id="help-modal-label">Example Modal</h5>
        </div>
        <div class="modal-body">
          <p>You can add custom buttons to the app header using the <code>header_buttons</code> block. Use anchor/link tags for the button and wrap it in a div with the class <code>header-button</code>. For buttons with the gliphyicons, add the <code>glyphicon-button</code> class as well.</p>
          <p>Ever have trouble using a modal in a Tethys app? Use the <code>after_app_content</code> block for modal content to allow them to function properly. See: <a href="https://getbootstrap.com/javascript/#modals">Bootstrap Modals</a></p>
          <p>Add tooltips to any element by adding the <code>data-toggle</code>, <code>data-placement</code>, and <code>title</code> attributes to the button. See: <a href="https://getbootstrap.com/javascript/#tooltips">Bootstrap Tooltips</a></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block app_actions %}

{% endblock %}
