{% extends "the_snowmen_snowpack_viewer/base.html" %}
{% load tethys_gizmos %}
{% load staticfiles %}

{% block header_buttons %}
  <div class="header-button glyphicon-button" data-toggle="tooltip" data-placement="bottom" title="Help">
    <a data-toggle="modal" data-target="#help-modal"><span class="glyphicon glyphicon-question-sign"></span></a>
  </div>
{% endblock %}


{% block app_content %}
<h1><b>The Snow Pack Project</b></h1>
  <p>March 27th, 2018</p>
  <br>
  <h5> View Snotel Stations <input type="checkbox" checked="true" id="Snotel_Stations" onClick="showHide();"/> </h5>
  <h5> View Utah Counties <input type="checkbox" checked="true" id="Utah_Counties" onClick="showHide();"/> </h5>
  <h5> View Utah Digital Elevation Model <input type="checkbox" checked="true" id="Utah_DEM" onClick="showHide();"/> </h5>
  <h5> View Utah Flow Accumulation Raster <input type="checkbox" checked="true" id="Utah_Accumulation" onClick="showHide();"/> </h5>
  <br>
  {% gizmo bufferPoint_button %}
  {% gizmo delineateWatershed_button %}
  {% gizmo modisData_button %}
  {% gizmo interpolateSnowPack_button %}
  <br>
  {% gizmo date_picker_initial %}
  {% gizmo date_picker_final %}
  <br>
  <div id="showMapView"></div>
  <br>

{% gizmo select_input %}

{% gizmo timeseries_plot %}

{% endblock %}

{# Use the after_app_content block for modals #}
{% block after_app_content %}

{% endblock %}

{% block app_actions %}
{% endblock %}